/* Footer.css */
html, body {
    height: 100%; /* Aseguramos que el body y el html ocupen toda la altura */
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container {
    flex: 1; /* Permite que el contenido principal crezca */
  }
  
  footer {
    background-color: #f8f9fa; /* Fondo del footer */
    text-align: center;
    padding: 1rem;
    margin-top: 8%; /* Empuja el footer al final */
  }
  
  .footer-image-container {
    text-align: center;
  }
  
  .footer-image {
    max-width: 65%;
    height: auto;
  }
  
  @media (max-width: 1200px) {
    .footer-image {
      max-width: 90%;
    }
  }