.tableContainer {
    width: 100%; /* Ajusta el ancho de la tabla */
    margin: 0 auto; /* Centra la tabla */
  }
  
.table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
     /* Permite que las columnas se ajusten automáticamente */
    overflow-x: auto;
  }


  .table th, .table td {
    padding: 8px;
    text-align: left;
    
}


.uniform-button {
    min-width: 100px; /* Define un ancho mínimo */
    max-width: 150px; /* Opcional: define un ancho máximo si es necesario */
    text-align: center; /* Centra el texto dentro del botón */
  }
  
  .button-container {
    display: flex;
     /* Centra horizontalmente cada botón */
    align-items: center; /* Alinea verticalmente si es necesario */
  }  




@media (max-width: 767px) {
.table thead {
    display: none; /* Oculta los encabezados en dispositivos móviles */
}

.table tr {
    margin-bottom: 0.625em;
    display: block;
    
}

.table td {
   display: block;
   
   position: relative;
   
}

.table td::before {
   content: attr(data-label);
   position: absolute;
   left: 0;
   width: 50%;
   padding-left: 15px;
   font-weight: bold;
   text-align: left;
}

.form-group{
    width: 80%;
}

.buttons-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

