@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.custom-menu-bg {
  background-color: #009EE2; /* Cambia a tu color preferido */
  color: white;
}
.navbar-nav .nav-link {
  color: white !important; /* Asegura que el color de los enlaces sea blanco */
}
.navbar-brand{
  padding: 20px;
}
.maven-pro-title {
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Puedes ajustar el peso según sea necesario */
  font-style: normal;
}

.maven-pro-body {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; 
  font-style: normal;
}

.maven-pro-title{
  color: #009EE2;
  font-weight: 900;
  text-align: center;
}
/* BOTONES */
.btn.confir {
  border-radius: 30px;
  font-size: 14px;
  padding: 12px;
  font-weight: 600;
  background-color: #009EE2;
  border-color: #009EE2;
}
.btn.confir2 {
  border-radius: 30px;
  font-size: 14px;
  padding: 12px;
  font-weight: 600;
}
.obtn{
  text-align: center;
}
.btn.obtenerTurno{
  width: 14.30rem;
  height: 2.83rem;
  border-radius: 30px;
  font-size: 14px;
  padding: 12px;
  font-weight: 600;
  background-color: #009EE2;
  border-color: #009EE2;
}
.btn.obtenerTurno:hover{
  background-color: #ffffff; /* Color de fondo al pasar el cursor */
  color: #009EE2 !important;
}

/* Tarjeta */
.card.turno{
  border: none;
  box-shadow: 0 0 10px 0 rgba(97, 99, 100, 0.5);
  border-radius: 10px ;
}
.card-body.turno{
  padding: 30px 30px 30px 30px;
}


.tipoAnimal{
  width: 348px;
  height: 344px;
}

/* IMAGEN */
/* .card-img-top{
  width: 348px;
  height: 344px;
} */
/*ACA ABAJO ESTILO DE TABLAS*/

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 12px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody td {
  padding: 12px;
  text-align: left;
  text-align: center;
}

tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

th, td {
  border: 1px solid #ddd;
}

.modal-title{
  color: #009EE2;
}

.fa{
  color: #009EE2;
}


.subtituloturnero {
  font-family: "Maven Pro", sans-serif !important;
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
}

/* Contenedor para centrar los títulos */
.titles-container {
  display: flex;
  justify-content: space-between; /* Espaciado igual entre títulos */
  align-items: center; /* Centrar verticalmente */
  width: 100%; /* Ancho completo */
}

/* Estilos para la fila del calendario y horario */
.calendar-time-row {
  display: flex;
  flex-direction: row; /* Cambiar a fila en pantallas grandes */
  align-items: flex-start; /* Alinear los elementos al inicio */
  justify-content: center; /* Centrar el contenido horizontalmente */
  flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias filas si es necesario */
}

/* Mantener la clase .calendar-container */
.calendar-container {
  display: flex;
  justify-content: center; /* Centra el calendario */
  padding: 20px;
  width: 50%; /* Asegúrate de que ocupe el ancho completo */
}

/* Estilos generales del calendario */
.custom-day {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #F3F2F5; /* Color por defecto de los días */
  color: #333;
}

.custom-day:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}

.Mui-selected {
  background-color: #009EE2 !important; /* Color seleccionado */
  color: rgb(255, 255, 255) !important; /* Texto blanco en fecha seleccionada */
}

/* Mantener la clase .time-container */
.time-container {
  padding: 20px;
  padding-top: 0;
  width: 50%; /* Asegúrate de que ocupe el ancho completo */
  max-width: 250px; /* Controlar el ancho máximo */
  margin-top: 20px; /* Espacio entre el calendario y los horarios */
}

.time-box {
  display: flex;
  flex-direction: column; /* Una sola columna */
  background-color: rgb(255, 255, 255); /* Fondo blanco para el time box */
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px 40px !important;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
}

.time-slot {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  background-color: #F3F2F5 !important; /* Color de fondo por defecto */
  border: none; /* Sin borde */
  transition: none; /* Transición para el cambio de color */
}


.time-slot.selected {
  background-color: #009EE2 !important; /* Color de fondo si está seleccionado */
  color: rgb(255, 255, 255); /* Color del texto si está seleccionado */
}

.time-slot.selected:hover {
  background-color: #009EE2; /* Color de fondo si está seleccionado */
  color: rgb(255, 255, 255); /* Azul más claro cuando pasas el mouse sobre el seleccionado */
}

.css-11a8txn-MuiStack-root {
  padding: 20px;
}



.css-cyfsxc-MuiPickersCalendarHeader-labelContainer{
  font-family: "Maven Pro", sans-serif !important;
}

.css-1rv8zyt-MuiStack-root{
  overflow: visible !important;
}

/* Estilos para los días resaltados */
.highlighted-day {
  color: #69c706 ; /* Color del texto de los días resaltados */
  pointer-events: all; /* Permitir clic solo en los días resaltados */
}

/* Estilo para los días que no tienen turnos */
.disabled-day {
  pointer-events: none; /* Deshabilitar clics */
  opacity: 0.5; /* Hacer que los días no seleccionables se vean atenuados */
}

/* Estilo para el tooltip cuando el mouse pasa sobre días sin turnos */
.disabled-day:hover::after {
  content: "No hay turnos disponibles";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 10;
}

.css-4k4mmf-MuiButtonBase-root-MuiPickersDay-root,
.css-17f9e7e-MuiTypography-root-MuiDayCalendar-weekDayLabel{
  font-family: "Maven Pro" !important;
}

.calendar-header {
  display: flex;
  flex-direction: column; /* Cambiar a columna para que el h2 esté arriba */
  align-items: center; /* Centrar horizontalmente */
  width: 100%; /* Asegurarse de que ocupe todo el ancho */
}


/* Media Query para pantallas de 1150 o menos */
@media (max-width: 3000px) {
  .calendar-time-row {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra horizontalmente */
  }

  .calendar-container, .time-container {
    width: 50%; /* Ancho completo para ambos contenedores */
    margin-top: 20px; /* Espacio entre calendario y horarios */
  }
}

@media (max-width: 800px) {
  .calendar-time-row {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: center; /* Centra horizontalmente */
  }

  .calendar-container, .time-container {
    width: 100%; /* Ancho completo para ambos contenedores */
    margin-top: 20px; /* Espacio entre calendario y horarios */
  }
}

.cct{
  padding: 20px 20px 20px 0px;
  font-weight: 600;
}


input, select, textarea {
  border-radius: 15px !important; /* Borde redondeado para todos los inputs */
}

.navbar-nav .nav-link {
  transition: background-color 0.3s, color 0.3s; /* Animación suave para el cambio */
  margin: 2px;
  border-radius: 10px;
  padding: 8px;
}

.navbar-nav .nav-link:hover {
  background-color: #ffffff; /* Color de fondo al pasar el cursor */
  color: #009EE2 !important;
  
  
}

/*Subir archivos*/
.upload-container {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #6c757d;
}
.upload-container:hover {
  border-color: #009EE2;
}

.btn-upload {
  background-color: #009EE2;
  color: white;
  margin-top: 10px;
}




